<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/icon/pokemon_logo_header1.png" class="center" >
  </ion-toolbar>
  <ion-button color="success" (click)="load()">Load</ion-button>
  <ion-button color="danger" (click)="delete()">Delete all favorites</ion-button>
</ion-header>



<ion-content [fullscreen]="true">
 
  <ion-list *ngIf="pokemondetail.length==0">
    <ion-item *ngFor="let i of [1,2,3,4,5]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list>
    
      <ion-item   button *ngFor="let item of pokemondetail " [routerLink]="[item.name]" >
        <ion-img  slot="start" src="{{item.sprites.front_default}}" alt="Pokemon" ></ion-img>
        <ion-label class="ion-text-capitalize" color="danger" > {{item.name}}</ion-label>

        <ion-badge color="warning" slot="end"> ID: {{item.id}} </ion-badge>
      </ion-item>
    
    </ion-list>
  


</ion-content>
