<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="pokemondetail">
    <ion-card >
      <ion-slides pager="true" [options]="slide0pts">
        <ion-slide>
          <ion-img  style="width: 300px; height: 300px;" src="{{pokemondetail.sprites.front_default}}"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img style="width: 300px; height: 300px;" src="{{pokemondetail.sprites.back_default}}"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img style="width: 300px; height: 300px;" src="{{pokemondetail.sprites.front_shiny}}"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img style="width: 300px; height: 300px;" src="{{pokemondetail.sprites.back_shiny}}"></ion-img>
        </ion-slide>
      </ion-slides>
      <ion-card-header>
        <ion-card-title class="ion-text-capitalize">#{{pokemondetail.id}} {{pokemondetail.name}}
          <ion-chip color="danger" class="ion-text-capitalize" *ngFor="let t of pokemondetail.types">{{t.type.name}}
          </ion-chip>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Weight : {{pokemondetail.weight*0.45 }} KG
      </ion-card-content>
      <ion-list>
        <ion-item>
         <b slot="start"> Abilities : </b> 
          <span slot="end" *ngFor="let a of pokemondetail.abilities;let isLast= last" class="ion-text-capitalize">
             {{a.ability.name}}{{ !isLast ? '  ' : ''}}
          </span> 
        </ion-item>
      <ion-item class="ion-text-capitalize" *ngFor="let s of pokemondetail.stats">
        <b slot="start" >{{s.stat.name}}</b> <p slot="end">{{s.base_stat}} </p>
      </ion-item>
      
      <ion-button color="warning" (click)="favorite(pokemondetail.name)">
        <ion-icon slot="start" name="star" size="Large" ></ion-icon>
        <b>Favorite</b>
      </ion-button>
    </ion-list>

    </ion-card>
  </div>

  

</ion-content>