<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color = "danger">
      Pokeballs
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>

  <ion-list *ngIf="pokeball.length==0">
    <ion-item *ngFor="let i of [1,2,3,4,5]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>



    <ion-list >
      <ion-item  button *ngFor="let item of pokeball " [routerLink]="[item.name]">       
        <ion-img slot="start" src="{{item.sprites.default}}" alt="Item image not found"></ion-img>
        <ion-label class="ion-text-capitalize" color="danger">{{item.name}}</ion-label>
        <ion-badge slot="end"> ID: {{item.id}} </ion-badge>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMorePokeball($event)">
      <ion-infinite-scroll-content 
      loadingSpinner="bubbles" 
      loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
</ion-content>
